@using DongHo.Models;
@model IEnumerable<SanPham> 
<div class="section group">
    @foreach (var item in Model.Take(4))
        {
    <div class="grid_1_of_4 images_1_of_4">
        
        <a href="@Url.Action("Details", "DongHo", new {id= item.Masp })">
            <img src="@Url.Content("~/images/"+item.Anh)" alt="">
        </a>    
            <div class="price" style="border:none">
                <div class="add-cart" style="float:none">
                    <h4><a href="@Url.Action("Themgiohang", "GioHang", new { @iMasp = item.Masp, @strURL = Request.Url.ToString()})">Add to Cart</a></h4>
                </div>
                @*<div class="clear"></div>*@
            </div>

</div>
    }
  
    

</div>
