   

    .reponsive{
        width: 200px;
        height: 100px;
        /*border: 1px dotted black;*/
        overflow: hidden;

    }
     p#tentruyenCM{
         font-size:150%;
      
   }
@media screen and (max-width: 480px){
   div#anhtk {
        width: 100px;
        height: 150px;
        /*border: 1px dotted black;*/
        overflow: hidden;
    }
   img#anhbiatk{
       width: 100px;
        height: 150px;
        margin-top:0;
        
   }
   td#cotanhtk{
       width:110px;
   }
   span#p{
       font-size:9px;
       line-height:0.8;
   }
   p#tentruyenCM{
       font-size:14px;
   }

}