/*===reponsive*/
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    /*#wrapper{ width: 100%;}*/
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    /*#content{ width: 100%; float: none;}
    #sidebar { width: 100%;float: none; padding-left: 0px;}*/
    
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    div#Anhbia{
    
    height:150px;
    
    }
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    #wrapper{ width: 100%;}
}
#wrapper{ width: 100%;}
@media screen and (max-width: 768px){
    #content{ width: 100%; float: none;}
    #sidebar { width: 100%;float: none; padding-left: 0px;}
}
/*Tablet nhỏ(480 x 640)*/




/*====================================*/




div#truyen{
    float: left;
    width: 10%;
    height:100%;
    margin-top:40px;
    

}
div#Anhbia{
    margin-left:35px;
    margin-right:35px;
     width: 50px;
    height:150px;
    margin-bottom:25px;
    
}
p#p{
    line-height:0.8;
    
    
}
div#truyentrangthai {
    
}



/*chỗ tên truyện trên bảng ds truyện*/
div#dstentruyen{
    height:50px;
    margin-bottom:20px;
}

div#truyends{
  
    margin-bottom:50%;
}
div#dsAnhbia{
    width:70%;
    margin-left:15%;

}
/*slide truyen cuoi trang*/
div#tentruyenslide{
    margin-bottom:20px;
}

div#bangchuongmoi{
        margin-top:-20px;
   }
@media screen and (max-width: 480px){
  
    
    div#tentruyenslide{
    margin-top:20px;
    margin-left:20px;
}
    p#tentruyenCM{
        font-size:50%;
    }
    div#dstentruyen{
        margin-left:20px;
    }
   div#bangchuongmoi{
       float:left;
   }
}




/*====================================*/
/*body{ background: #E5E5E5; color: #fff;}*/
#wrapper{ width: 1024px; margin: 0px auto;}
#header, #footer { min-height: 150px; text-align: center;}
#content{ width: 70%; float: left; min-height: 500px; margin: 20px 0px;   }
#sidebar{ width: 30%; float: right;margin: 20px 0px; min-height: 500px; padding-left: 20px; }
.block_sidebar { min-height: 150px; margin-bottom: 20px;}
#header, #footer{ }
#content{    background: #44C52C;}
.block_sidebar{ background: #D86262; }
/*===reponsive*/
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    #wrapper{ width: 100%;}
}
/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px){
    #content{ width: 100%; float: none;}
    #sidebar { width: 100%;float: none; padding-left: 0px;}
}
/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px){
    
}
/*Iphone(480 x 640)*/
@media screen and (max-width: 320px){
    
}
/*Smart phone nhỏ*/
@media screen and (max-width: 240px){
    
}
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px){
    #wrapper{ width: 100%;}
}
#wrapper{ width: 100%;}
@media screen and (max-width: 768px){
    #content{ width: 100%; float: none;}
    #sidebar { width: 100%;float: none; padding-left: 0px;}
}
/*Tablet nhỏ(480 x 640)*/




/*====================================*/
