
@{
    ViewBag.Title = "DSSHetHang";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
    WebGrid grid = new WebGrid(source: Model, rowsPerPage: 5);
}

@model IEnumerable<DongHo.Models.SanPham>

<h2>Danh sách sản phẩm sắp hết hàng</h2>
<br /><br />
@*Th? hi?n d? li?u thông qua control webGrid*@
@grid.GetHtml(
    tableStyle: "divTable",
    headerStyle: "gridHead",
    footerStyle: "gridFooter",
    rowStyle: "gridRow",
    alternatingRowStyle: "gridAltRow",
    columns: grid.Columns(
    grid.Column("Masp", "Mă sản phẩm"),
    grid.Column("Tensp", "Tên SP"),
    grid.Column("Anh", "Hình ảnh", format: p => @Html.Raw("<img width=\"80\" height=\"80\" src=\"../images/" + p.Anh + "\">")),
    grid.Column(format: p => @Html.ActionLink("Nhập hàng", "NhapHangDon", new { id = p.Masp }, new { @target = "_blank" }))

    ))


@*Css cho t?ng Style c?a table*@
<style>
    .divTable {
        width: 100%;
        border: 1px solid #999999;
        text-align:center;
    }

        .divTable td {
            border: 1px solid #999999;
            text-align: center;
        }

    .gridHead {
        background-color: Green;
        text-align: center;
    }

        .gridHead > th > a {
            color: #fff;
            text-align: center;
        }

    .gridFooter {
        font-weight: bold;
    }
    /*.gridRow {
        color:#fff;
        background-color:blueviolet;
    }
    .gridAltRow {
        color:#fff;
        background-color:darkorange;
    }*/
</style>

<style>
    .FooterAdmin {
        display: none;
    }
</style>


