@using DongHo.Models;
@model  PhieuNhap

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin1.cshtml";
}

@{
    IEnumerable<NhaSX> lstNCC = ViewBag.MaNCC as IEnumerable<NhaSX>;
}
@*Bu?c 1: S? d?ng control datetimepicker chèn 3 file script*@
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
<script src="//code.jquery.com/jquery-1.10.2.js"></script>
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
@*<link rel="stylesheet" href="resources/demos/style.css">*@

@*date time*@
<script>
    $(function () {
        $(".date").datepicker();
    });
</script>


@using (@Html.BeginForm())
{
    <div class="row">
        
    </div>
    <div class="clearfix"></div>
    <br />

    
    <div class="clearfix">  </div>
    <br /><br /><br />
    @*Ph?n chi ti?t nh?p hàng*@
    <table class="table tblChiTietPhieuNhap">
        @{IEnumerable<SanPham> lstSanPham = ViewBag.ListSanPham as IEnumerable<SanPham>;}
        @*T?o ra 1 tr v?i n?i dung nh?p hàng c?a 1 s?n ph?m*@
        <tr class="trAppend" style="display:none;">
            <td>
                <select class="ddlSanPham" name="">
                    @foreach (var item in lstSanPham)
                    {
                        <option value="@item.Masp"> @item.Tensp </option>
                    }
                </select>
            </td>
            <td>
                <input name="" class="txtDonGia" value="0" />
            </td>
            <td>
                <input name="" class="txtSoLuong" value="0" />
            </td>
            <td>
                <input class="btnDelete btn btn-danger" style="width:30px;height:30px" value="-" />
            </td>
        </tr>
        <tr class="trFirstChild" data-id="-1">
            <td>Sản phẩm</td>
            <td>Đon giá nhập</td>
            <td>Số lượng nhập</td>
            <td></td>
        </tr>

    </table>
    @*Nút button thêm*@
    <input type="button" value="+" class="btn btn-success" id="btnAdd" />
    <input type="submit" value="Nhập hàng" class="btn btn-primary" id="btnNhapHang" />
}

<script>
    $("#btnAdd").click(function () {
        // L?y id c?a tr cu?i cùng thu?c th? table có class = tblChiTietPhieuNhap
        //Bu?c 4: Phuong th?c find là t́m d?n th? nào dó: ? dây là th? tr (:last-child) là th? tr cu?i cùng trong th? tblChiTietPhieuNhap
        var id_cuoi = $(".tblChiTietPhieuNhap").find("tr:last-child").attr("data-id");
        i = parseInt(id_cuoi) + 1;
        //Bu?c 1: N?i dung phía trong th? trAppend
        var tdnoidung = $(".trAppend").html();
        //Bu?c 2:T?o 1 th? tr bao ngoài n?i dung
        var trnoidung = "<tr class=\"trAppended\" data-id=\"" + i + "\">" + tdnoidung + "</tr>";
        ////Bu?c 3: L?y th? table append vào 1 tr
        $(".tblChiTietPhieuNhap").append(trnoidung);
        loadIDLENTHE();

    });

    //Phuong th?c x? lư l?y thu?c tính attr t? th? tr gán xu?ng ch? s? ph?n t? các trong thu?c tính name c?a th? input
    function loadIDLENTHE() {
        $(".trAppended").each(function () {
            //L?y thu?c tính data-id c?a th? tr hi?n
            var id = $(this).attr("data-id");
            var nameMaSanPham = "[" + id + "].MaSP"; //T?o ra mă s?n ph?m
            var nameSoLuongNhap = "[" + id + "].SoLuongNhap"; //T?o ra s? lu?ng nh?p
            var nameDonGiaNhap = "[" + id + "].DonGiaNhap";   //T?o ra don giá nh?p
            $(this).find(".ddlSanPham").attr("name", nameMaSanPham);//Gán name cho dropdownlist
            $(this).find(".txtDonGia").attr("name", nameDonGiaNhap);//Gán name don giá nh?p
            $(this).find(".txtSoLuong").attr("name", nameSoLuongNhap);//Gán name s? lu?ng nh?p

        })
    };
    //X? lư s? ki?n xóa 1 ḍng t? nút delete n?m bên trong th? tr
    //$("body").on("click", ".btnDelete", function () {
    //    //Xóa ph?n t? cha phía ngoài
    //    $(this).closest(".trAppended").remove();
    //});

    function CapNhapID() {   //L?y l?i tr 1
        var id_cuoi = $(".tblChiTietPhieuNhap").find(".trFirstChild").attr("data-id");
        i = parseInt(id_cuoi) + 1;

        $(".trAppended").each(function () {
            var id = i;
            $(this).attr("data-id", i);
            //C?p nh?t l?i id khi xóa
            var nameMaSanPham = "[" + id + "].MaSP"; //T?o ra mă s?n ph?m
            var nameSoLuongNhap = "[" + id + "].SoLuongNhap"; //T?o ra s? lu?ng nh?p
            var nameDonGiaNhap = "[" + id + "].DonGiaNhap";   //T?o ra don giá nh?p
            $(this).find(".ddlSanPham").attr("name", nameMaSanPham);//Gán name cho dropdownlist
            $(this).find(".txtDonGia").attr("name", nameDonGiaNhap);//Gán name don giá nh?p
            $(this).find(".txtSoLuong").attr("name", nameSoLuongNhap);//Gán name s? lu?ng nh?p
            i++;
        })
    }

    //X? lư s? ki?n xóa
    $("body").delegate(".btnDelete", "click", function () {
        //Xóa ph?n t? cha phía ngoài
        $(this).closest("tr").remove();
        CapNhapID();

    });

    $("#btnNhapHang").click(function () {

        if (kiemtraDonGia() == false) {
            //N?u t?n t?i 1 giá tr? b?t k? thu?c class don giá không ph?i s?, th́ ngan không cho submit v? server
            return false;
        }
        if (kiemtraSoLuong() == false) {
            return false;
        }

    });
    //Ki?m tra don giá
    function kiemtraDonGia() {
        var bl = true;
        //Duy?t ṿng l?p each
        $(".txtDonGia").each(function () {
            var giatri = $(this).val();
            if (isNaN(giatri) == true) {
                alert("Đon giá không hợp lệ!");
                bl = false;
                return bl;
            }
        });
        return bl;
    }
    function kiemtraSoLuong() {
        var bl = true;
        //Duy?t ṿng l?p each
        $(".txtSoLuong").each(function () {
            var giatri = $(this).val();
            if (isNaN(giatri) == true) {
                alert("Số lượng không hợp lệ!");
                bl = false;
                return bl;
            }
        });
        return bl;
    }

</script>















