<p>
     <span>Giỏ hàng</span><div id="dd" class="wrapper-dropdown-2">
        @ViewBag.Tongsoluong sản phẩm - @ViewBag.TongTien
        <ul class="dropdown">
            <li>Bạn có  @ViewBag.Tongsoluong sản phẩm trong giỏ hàng</li>
        </ul>
    </div>
</p>

