
@{
    ViewBag.Title = "Xacnhandonhang";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}

<div class="content_top">
    <div>
        <h3 style="text-align:center;color:#d31313;">Đặt hàng thành công</h3>
    </div>

    <div class="clear"></div>
</div>
<div class="content" style="text-align: -webkit-center">
    <p><b>Đơn hàng dã được đặt thành công. Chúng tôi sẽ liên lạc với quý khách sớm nhất và giao hàng đúng hẹn</b></p>
    @Html.ActionLink("Về trang chủ","Index","DongHo")
</div>
