@model List<Models.Framework.THELOAI>

@{

    <div class="row">
        <div class="col-sm-12">
            <ul class="multi-column-dropdown text-center">
    @*<h6>Truyện chữ</h6>*@
    @foreach (var item in Model)
    {
                <li><a href="@Url.Action("Timkiemtheloai","Timkiem",new { id= @item.Matheloai})">@item.Tentheloai</a></li>
     }
                @*<li><a href="products.html">New In Clothing</a></li>
                    <li><a href="products.html">New In Bags</a></li>
                    <li><a href="products.html">New In Shoes</a></li>
                    <li><a href="products.html">New In Watches</a></li>
                    <li><a href="products.html">New In Grooming</a></li>*@
    </ul>
        </div>
        @*<div class="col-sm-6">
            <ul class="multi-column-dropdown">
                <h6>Truyện khác</h6>

            </ul>
        </div>*@

        <div class="clearfix"></div>
    </div>

}

